# data folders
Data/

# cache
.mypy_cache/
__pycache__/
**/__pycache__/
.ipynb_checkpoints/

# notebook/system
*.pyc

# environment
.env
.venv/
venv/

# model/data binaries
*.parquet
*.pkl
*.joblib
*.npy
*.npz
